.poster {
    padding: 2px;
    border: 1px solid #00a7d0;
}

.poster:hover {
    border: 2px solid #00a7d0;
}

.poster-box {
    padding: 5px;
    /* height: 15% !important; */
    width: 50%;
}

/* Hide the browser's default checkbox */
.container input {
    /*position: absolute;*/
    /*opacity: 0;*/
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    /*top: 0;*/
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #0f71ba;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.profile-photo {
    width: 48px;
    height: auto;
}

.flex-menu {
    display: flex;
}

.flex-menu li:not(:last-child) {
    margin-right: 40px;
}

.comment-list {
    /*padding-top: 15px;*/
}

.comment-list .row {
    margin-bottom: 0px;
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    /*Panel-heading border radius*/
    border-top-right-radius: 0px;
    top: 1px;
}

.comment-list .panel .panel-heading.right {
    border-right-width: 0px;
    /*Panel-heading border radius*/
    border-top-left-radius: 0px;
    right: 16px;
}

.comment-list .panel .panel-heading .panel-body {
    padding-top: 6px;
}

.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }

    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }

    /*****Left Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
    }

    /*Background color effect*/
    .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
    }

    /*****Right Arrow*****/
    /*Outline effect style*/
    .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
    }

    /*Background color effect*/
    .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
    }
}
.comment-list .comment-post {
    margin-top: 6px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
    height: 90px;
}
